# Python virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Node modules
node_modules/

# Next.js
.next/

# OS files
.DS_Store
Thumbs.db

# ML datasets
ml/data/raw/
ml/data/processed/

backend/app/tests

# ML models
ml/models/*.joblib
ml/v2/models/*.joblib